#Logo1{
   width: 100px;
   height: 100px;
   margin-top: 50px;
}

.Title{
    
    display: flex;
    justify-content: center;
    background: #D9534F;
    width: 1050px;;
    height: 100px;;
    margin-left:120px;
    margin-right:auto;
    margin-top: -100px;
    margin-bottom: -30px;
    border-radius: 10px;
}

.Title > H2{
    
  width: 200px;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
    
    
}


.flex-container2{
  
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  
}

.flex-container2 > div{
    
    margin:25px;
}


.Menu{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.Menu >  img{
    
    width: 60px;
    height: 60px;
    background-color:  deepskyblue;
    margin-left: auto;
    margin-right: auto;
}

#Acerca{
    
  width: 80%;
  height: 80%;
  display: flex;
  background-color: aqua;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}